PORT = 8000
GOOGLE_APPLICATION_CREDENTIALS =
DATABASE = mongodb+srv://<USERNAME>:<PASSWORD>@<CLUSTERNAME>.mongodb.net/<PROJECT_NAME>?retryWrites=true&w=majority&appName=<APP_NAME>
DATABASE_PASSWORD = 
